$system-primary: #2231AA;
$system-primary-two: #5360CD;
$system-secondary: #313037;

$background-gray: #8D8E97;
$background-medium: #DADADA;
$background-extra-light: #F3F3F3;

$contextual-error: #FD3419;
$contextual-white: #FFF;
$contextual-light: #E8E8E8;
